/* DEFAUlT SETTINGS, DO NOT TOUCH!! */
* {
  margin: 0;
  padding: 0;
}

body:not(nav) {
     display: flex;
     flex-direction: column;
     gap: 0.2em;
     box-shadow: 3px 3px 3px darkslategrey;
     background-color: rgb(240, 229, 211);
}

body {
  min-height: 100vh;
  /* background-color: #333; */
}

/* NAVIGATION BAR, REUSE FOR ALL NECESSARY PAGES */


nav {
  background-color: darkred;
  box-shadow: 3px 3px 5px slategray;
  z-index: 50;
  height: 50px;
  display: block;
  
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

nav li {
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



nav a:hover{
  background-color: salmon;
}

/* .topnav button {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  display: flex;
  margin-right: auto;
  border-radius: 15px;
  background-color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav button:hover {
  background-color: darkred;
}

.topnav button:active {
  transform: translateY(5px);
} */

.logo {
  max-height: 50px; /* Adjust this value based on your navbar height */
  height: auto;
  width: auto;
  object-fit: contain;
}

nav li:nth-child(2) {
  margin-right: auto;
  border: solid 1px white;
  text-overflow: ellipsis;
}

#popupBtn {
  max-height: 50px;
  height: auto;
  width: auto;
  text-align: center;
  padding: 5px;
  text-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 20px;
  font-family: "Signika";
  background-color: darkred;
  color: white;
  width: auto;
  text-overflow: ellipsis;
}

#popupBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
  border: solid 1px white;
}

.popup-modal {
  z-index: 99;
}
.username {
  color: red;
  font-weight: bold;
  text-shadow: 
    1px 1px 0 black, 
   -1px 1px 0 black, 
    1px -1px 0 black, 
   -1px -1px 0 white;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 99;
  background-color: rgb(208, 208, 208, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px lightgray;
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar a {
  width: 100%;
}

@media(max-width: 800px){
  .hideOnMobile{
      display: none;
  }
  .menu-button{
      display: block !important;
  }
  .section1 {
      flex-direction: column;
  }
 .card-logo {
  max-width: 70px;
 }
 .card-front h1 {
  font-size: 18px;
  padding-top: 15px;
  transform: rotateY(0deg);
  z-index: 2;
 }
 .card-button {
  padding: 8px 12px;
  font-size: 14px;
 }
 .card-inner {
  transform: none;
 }
 .card-back {
  display: none;
  z-index: 1;
 }
 .content1 p {
  text-overflow: ellipsis;
 }
}

@media(max-width: 400px) {
  .sidebar{
      width: 100%;
  }
}

.menu-button{
  display: none;
}


/* ================================== POP UP =========================== */
/* ============================================== SECTION 1 ========================*/

/* Popup Modal Styles */
.popup-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  
}

.popup-content {
  background-color: darkred;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  border: solid 1px;
  line-height: 3em;
  background-image: url(image/Afiq\ \(new\).png);
  text-shadow: 
    1px 1px 0 black, 
   -1px 1px 0 black, 
    1px -1px 0 black, 
   -1px -1px 0 white;
   color: white;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Landing Page Styles */
.landing-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.name-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: black;
  text-align: center;
  z-index: 1;
  font-family: 'Lilita One';
  text-shadow: 
    1px 1px 0 white, 
   -1px 1px 0 white, 
    1px -1px 0 white, 
   -1px -1px 0 white;
}

/* Slideshow Styles */
.slideshow {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

.slide1 {
   background-image: url('image/landing-page-3.png'); 
  }
.slide2 { 
  background-image: url('image/JG106700.JPG'); 
}
.slide3 { 
  background-image: url('image/JG106773-1600.jpg'); 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 1rem;
  cursor: pointer;
  z-index: 2;
}

.left { left: 10px; }
.right { right: 10px; }

/* Show the first slide by default */
.slide.active {
  opacity: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-btn {
      padding: 0.3rem 0.8rem;
  }

  .popup-content {
      width: 80%;
  }

  .arrow {
      padding: 0.5rem;
  }
}


/* ------------------SECTION 2------------- */

.section-2 {
  height: 100vh;
  width: 100vw;
  /* border: solid 1px; */
  display: flex;
}

.about-us {
  width: 50vw;
  height: 100vh;
  /* border: solid 1px; */
  display: flex;
  flex-direction: column;
  place-content: center;
  overflow: auto;
  /* justify-content: space-around;
  align-items: center; */
}


.about-us h1 {
  font-family: 'Lilita One';
  padding: 20px;
  text-align: center;
  color: red;
  text-transform: uppercase;
  letter-spacing: 3px;
  /* background-color: white; */
  /* width: max-content;
  height: max-content; */
  /* border: solid 1px; */
}

.about-us p {
  line-height: 1.3em;
  padding: 0px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  height: auto;
}


.news-feed {
  width: 50vw;
  height: 100vh;
  /* border: solid 1px; */
}

@media (max-width: 980px) {
  .section-2-b {
    width: 100vw;
    height: 140vh;
  }
  

  .section-2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .about-us,
  .news-feed {
    width: 100vw;
    height: 120vh;
  }
}

.news-feed {
  overflow: hidden;
  display: flex;
  place-content: center;
  margin: 20px;
  height: 90vh;
}


/* ====================ICONS ========================== */

.icons {
  border: solid 2px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: darkslategrey;
  color: white;
  width: 100%;
  box-shadow: 2px 2px 5px black;

}

.icons p {
  font-size: 1.3em;
  padding-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icons p:hover ~ a {
  animation: wobble 0.5s infinite alternate ease;
}

.fa-brands:hover {
  animation: wobble 0.5s infinite alternate ease;
}



@keyframes wobble {
  0% {
      transform: translateY(-5px);
    
  }
  40% {
    transform: rotate(-10deg);
  }
  100% {
  
      transform: translateY(5px);
  }
}



.fa-tiktok {
  border: solid 1px;
  border-radius: 50%;
  padding: 10px 10px;
  background-color: white;
  margin-right: 20px;
  cursor: pointer;
  color: black;
}

.fa-tiktok:hover {
  background-color: black;
  color: white;
}

.fa-facebook {
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: hsl(240, 82%, 53%);
  color: white;
  animation-delay: 1s;
  cursor: pointer;
  margin-right: 20px;
}

.fa-facebook:hover {
  background-color: white;
  color: hsl(240, 82%, 53%);
}

.fa-linkedin {
  border: solid 2px;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: white;
  margin-right: 20px;
  cursor: pointer;
  color: rgb(13, 13, 87);
}

.fa-linkedin:hover {
  background-color: rgb(13, 13, 87);
  color: white;
}

